/* content.component.css */

main {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Ensure the content takes the full height of the container */
  }
  